logs/
results
.idea
SEA_APP_Nov24/sea-cnn-inference/src/online_inference/__pycache__/
SEA_APP_Nov24/polar-h10-ecg-live-dashboard/src/pyarmor_runtime_000000/__pycache__/
SEA_APP_Nov24/sea-cnn-inference/src/online_inference/pyarmor_runtime_000000/__pycache__/
museit-video-capture-with-FER-and-http-frame-transmission/pyarmor_runtime_000000/__pycache__/
SEA_APP_Nov24/polar-h10-ecg-logger/session_output/
SEA_APP_Nov24/sea-cnn-inference/src/online_inference/results/
SEA_APP_Nov24/polar-h10-ecg-live-dashboard/src/__pycache__/
test.sh
musicgen/venv/
mea_results_path.json
sea_results_path.json
musicgen/liveMidiFiles/
musicgen/src/audio_files/
musicgen/src/__pycache__/
musicgen/src/inputData.txt
musicgen/midiFiles/midi_transposed.mid